/GitHub Desktop Exemplo/nbproject/private/
/Bebidas Lambac/nbproject/private/
/Bebidas Lambac/build/
/Bebidas Lambac/dist/
/BebidasLambach-Core/nbproject/private/
/BebidasLambach-Core/dist/
/BebidasLambach-Core/build/
/BebidasLambach-Test/nbproject/private/
/BebidasLambach-Test/build/
/BebidasLambach-Test/dist/
/bebidas-lambach-api/target/
